<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trip</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'update.css' %}">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Hello {{ logged_user.first_name }}! Create a trip!</h1>
            <a href="/logout">Logout</a>
        </div>

        <div id="main-content">
            {% if messages %}
            <ul>    
                {% for message in messages %}    
                    <li class="messages" style="color: red">{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}

            <form id="trip-box" action="/trips/create" method=POST>
                {% csrf_token %}
                <table>
                    <tr>
                        <td>Destination:</td>
                        <td><input type="text" name="destination"></td>
                    </tr>
                    <tr>
                        <td>Start Date:</td>
                        <td><input type="date" name="start_date"></td>
                    </tr>
                    <tr>
                        <td>End Date:</td>
                        <td><input type="date" name="end_date"></td>
                    </tr>
                    <tr>
                        <td>Plan:</td>
                        <td><input type="text" name="plan"></td>
                    </tr>
                </table>
                <a id="cancel" href="/dashboard">Cancel</a>
                <button>Submit</button>
            </form>
            
        </div>
    </div>
</body>
</html>